.chats {
  display: flex;
  flex: 1;
  height: 100vh;
  background-color: #363a3f;
  flex-direction: column;
}
.chat_header {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.chat_header_left {
  flex: 0.5;
}

.chat_header_title_content {
  color: white;
}
.chat_header_title_hash {
  padding-right: 5px;
}
.chat_header_right {
  flex: 0.5;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat_header_right_icons > .MuiSvgIcon-root {
  padding-left: 10px;
}
.chat_header_left_icons > .MuiSvgIcon-root {
  padding-left: 10px;
}
.chat_header_right_icons {
  display: flex;
  justify-content: space-between;
}
.chat_header_search {
  margin-left: 5px;
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 5px;
  background-color: #2f3135;
  color: grey;
  padding: 3px;
  border-radius: 3px;
  justify-content: end;
}
.chat_header_left_icons {
  display: flex;
  justify-content: space-between;
}
.serach_input {
  background-color: transparent;
  border: none;
  color: grey;
  outline-width: 0;
  margin: 3px;
  flex: 1;
}
.chat_input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 20px;
  background-color: #474b53;
  border-top: 1px solid grey;
}
.chat_input > form > input {
  color: white;
  font-size: large;
  background: transparent;
  outline-width: 0;
  padding: 15px;
  border: none;
}
.chat_input > form {
  flex: 1;
}
.chat_input > form > .chat_submit {
  display: none;
}
.chat_inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}
.chat_messages {
  flex: 1;
  overflow: scroll;
}
